* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font: 15px/1.3 'Open Sans', sans-serif;
  color: #5e5b64;
  text-align: left;
  min-width: 1024px;
}

.wrapper {
  display: flex;
  width: 100%
}


/*.menu, .overview {
  display: table-cell;
}*/

.overview {
  /*display: inline-block;*/
  /*width: 80%;*/
  padding-top: 30px;
}

.menu {
  float: left;
  width: 20%;
  background: #2B2F3E;
  min-height: 100vh;
}

.menu-title {
  padding: 30px;
  font-size: 42px;
  color: #4E5261;
}

.menu-item {
  cursor: pointer;
  font-size: 20px;
  color: white;
  background: #FF3654;
  padding: 30px;
  margin-top: 40px;
}

.items-list {
  vertical-align: top;
  margin-left: 30px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px solid #C7C7C7;
  /*padding-left: 60px;*/
  padding: 30px 30px 30px 0px;
  display: inline-block;
  width: 38%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.comments-list {
  vertical-align: top;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px solid #C7C7C7;
  padding: 30px;
  display: inline-block;
  width: 38%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.items-title {
  padding-left: 30px;
  font-size: 26px;
  font-weight: 50;
}

.add-item {
  padding-left: 30px;
  margin-top: 20px;
}

.add-item>input {
  max-width: 50%;
  vertical-align: top;
  height: 30px;
  font-size: 20px;
  padding-left: 5px;
  border-radius: 3px;
}

.add-item>button {
  float: right;
  margin-left: 15px;
  vertical-align: top;
  padding: 5px 20px 5px 20px;
  height: 34px;
  color: white;
  background: #27CCC0;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

.items {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 0 0 20px 30px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #F5F5F5;
}

.item:hover, .active {
  border-left: 5px solid #FF2F5A;
  margin-left: -5px;
}

.item-name {
  vertical-align: top;
  max-width: 50%;
  overflow: hidden;
  display: inline-block;
}

.hide {
  display: none;
}

.comments-length {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 7px 2px 7px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  background: #27CCC0;
}

.item>button {
  cursor: pointer;
  font-size: 20px;
  color: #FF6B87;
  border: 2px solid #FF6B87;
  border-radius: 3px;
  padding: 5px 20px 5px 20px;
  vertical-align: top;
  float: right;
  background: none;
}

.comments {
  margin-top: 30px;
}

.comments-title {
  font-size: 26px;
  font-weight: 50;
}

.comment:nth-child(2n+1) :first-child {
  background: #FF8A00
}

.comment {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #F5F5F5;
}

.comment-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #47568C;
}

.comment-content {
  margin-left: 10px;
  vertical-align: top;
  display: inline-block;
  width: 77%;
  overflow: hidden;
}

.add-comment {
  margin-top: 30px;
}

.add-comment>textarea {
  resize: none;
  margin-left: 10px;
  vertical-align: top;
  display: inline-block;
  height: 80px;
  width: 76%;
}

.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #E6E6E6;
}
